:root{
  --navbar-bg: #F8F9FA;
  --navbar-color: #575757;
}
.dark-mode {
  --navbar-bg: #222222;
  --navbar-color: #b4b4b4;
}


::selection { 
  background: transparent; 
  /* color: black;  */
}
/* For Firefox */
::-moz-selection { 
  background: transparent; 
  /* color: black;  */
}

*{
  font-family: "Inter", sans-serif;
}
.side-slogan{
  font-family: 'Exo 2', sans-serif;
  font-family: 'Merienda', cursive;
  color: white;
}
.navbar{
  background-color: var(--navbar-bg);
}
.navbar-brand img{
  height: 60px;
  width: auto;
}
.nav-link{
  transition: .3s;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--navbar-color);
  cursor: pointer;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.nav-link:focus, .nav-link:hover {
  color: #38A352;
  transform: scale(1.1);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #38A352;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
    color: #38A352;
    transform: scale(1.1);
}
a{
  text-decoration: none;
  color: #38A352;
  transition: .3s;
}
.btn{
  letter-spacing: 2px;
}
.statBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 2px solid #38A352;
}
.topTitle{
  color: #38A352;
  letter-spacing: 5px;
  font-weight: 700;
}
.mainTitle{
  font-weight: 400;
  letter-spacing: 2px;
}
.roomTopBox{
  border-radius: 20px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.roomBottomBox{
  border-radius: 20px;
  /* height: 200px; */
  margin-top: -50px;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 4px 0px gray;
  background-color: white;
  padding: 20px;
}
.roomFac{
  font-size: 12px;
}
.roomTitle{
  font-weight: 400;
}
.roomPrice{
  color: #38A352;
}
.roomAfterPrice{
  font-size: 12px;
}
.experienceBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.experienceBoxBefore{
  /* border: 1px solid gray; */
  border-radius: 20px;
  height: 330px; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.experienceBoxAfter{
  box-shadow: 0px 0px 3px 0px #00000040;
  border-radius: 20px;
  background-color: white;
  width: 100%; 
  margin-left: -100px;
  padding: 20px;
}

.carousel-item{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1rem;
  padding-bottom: .5rem;
  color: #fff;
  text-align: center;
}
.carousel-indicators {
  margin-bottom: .5rem;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #00000050;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  transition: opacity .6s ease;
  border: 1px solid white;
  border-radius: 100%;
}
.carousel-indicators .active {
  border: 1px solid #38A352;
  background-color: #38A352;
  /* opacity: 1; */
}
.about{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutImage{
  width: 100%;
  height: 350px;
  border-radius: 20px;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutImageBack{
  width: 100%;
  height: 350px;
  border: 2px solid #38A352;
  background-color: white;
  border-radius: 20px;
}
.serviceCard{
  border-radius: 20px;
  box-shadow: 0px 0px 1px gray;
}
.fs-10{ font-size: 10px; }
.fs-12{ font-size: 12px; }
.fs-14{ font-size: 14px; }
.gallery{
  background-color: #222;
}
.galleryBox{
  width: 100%;
  height: 400px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
  /* margin-top: -100px; */
  /* background-color: #222; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 120px; */
}
#scrollToTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #1F8B48;
  font-size: 33px;
}

.testimonial{
  background-color: #222;
  color: gray;
  background-image: url('../img/testimonialBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonialCard{
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: #222;
}
.blogBox{
  border-radius: 20px;
  /* background-color: rgb(220, 220, 220); */

}
.blogBoxImage{
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
}
.blogBoxDetail{
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  margin-top: -20px;
}

.resBox{
  border-radius: 20px;
  /* background-color: rgb(220, 220, 220); */
  display: flex;

}
.resBoxImage{
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
}
.resBoxDetail{
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: nowrap;
}

.contactBox{
  border-radius: 20px;
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
  /* z-index: 2; */
}
.contactImage{
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.abcb{
  margin-left: 0px;
  margin-right: -100px; 
  z-index: 2;
}
.room-badge{
  color: #000;
  background-color: #EEEEEF;
  padding: 3px 15px;
  border-radius: 30px;
  text-wrap: nowrap;
  font-size: 16px;
  margin-right: 5px;
}
.tooltip-inner {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: 0px 3px 5px 0px #000;
}

.tooltip-arrow::before {
  border-top-color: #EEEEEF !important;
}
.room-facilities-icon i{
  font-size: 18px;
}
.hover-underline:hover{
  text-decoration: underline;
}



/* SLICK SLIDER START  */
.slick-prev, .slick-next {
  width: 0px;
  height: 0px;
  background: transparent;
}
.slick-prev { 
  left: -40px; 
}
.slick-next { 
  right: 0px; 
}
.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: #38A352;
}

.slick-dots li button:before {
  font-size: 20px;
  opacity: .5;
  color: black;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #38A352;
}

.slick-slide {
  padding: 0px 10px;
}
/* SLICK SLIDER END  */

.footer-heading{
  font-weight: 600;
  color: #1F8B48;
}
.footer-p{
  margin: 0px;
  color: #000;
}
.footer-link{
  color: #000;
  transition: .3s;
}
.footer-link:hover{
  color: #1F8B48;
  letter-spacing: 1px;
}

.room-carousel{
  width: 100%;
  height: 230px;
  border-radius: 20px 20px 0px 0px;
}
.room-carousel-inner{
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.room-carousel-item{
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.room-carousel-item img{
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

.room-carousel-indicators {
  margin-bottom: 1rem;
}
.room-carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
}
.room-carousel-indicators .active {
  border: 1px solid #1F8B48;
  background-color: #1F8B48;
}
.bg-img{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: .3s;
}
.bg-img:hover{
  cursor: pointer;
  opacity: .9;
}
.gallery1-left{
  width: 100%;
  height: 400px;
  border-radius: 30px 0px 0px 30px; 
}
.gallery1-top{
  width: 100%;
  height: 190px;
  margin-bottom: 20px; 
}
.gallery1-bottom{
  width: 100%;
  height: 190px;
}
.gallery1-right{
  width: 100%;
  height: 400px; 
  border-radius: 0px 30px 30px 0px; 
}
.live-clock{
  position: fixed; 
  left: 10px; 
  bottom: 10px; 
  background: #1F8B48; 
  color: white; 
  padding: 5px 10px;
}

.navbar-toggler{
  color: #1F8B48;
  background: transparent;
  border: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.read-more-right{
  height: 65vh;
  overflow-y: scroll;
}
.read-more-carousel-item{
  width: 100%;
  height: 100%;
}


.restaurantBox1{
  width: 100%;
  height: 400px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:transparent;
  font-size: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: .3s;
  padding: 20px;
}
.restaurantBox1:hover{
  transition: .3s;
  cursor: pointer;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
}
.restaurantBox11:hover{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/restaurants/0.webp') !important;
}
.restaurantBox12:hover{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/restaurants/1.webp') !important;
}
.restaurantBox13:hover{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/restaurants/2.webp') !important;
}
.restaurantBox14:hover{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/restaurants/3.webp') !important;
}
.room-search-section{
  background-color: #222;
}
.gj-datepicker button{
  display: none;
}
.accor-box{
  width: 100%; 
  height: 100vh; 
  position: relative;
}
.accor-left{
  width: 60%;
  position: absolute; 
  left: 0; 
  top: 0;
}
.accor-right{
  width: 60%; 
  position: absolute; 
  right: 0; 
  bottom: 0;
}

.restaurantBoxOuter2{
  transition: ease-in-out .5s;
}
.restaurantBoxOuter2:hover{
  transform: scale(1.2);
}
.restaurantBoxOuter2:hover .restaurantBoxOuter2-layer{
  display: block;
  margin-top: -400px;
}
.restaurantBoxOuter2:hover .restaurantBoxOuter2-link{
  margin-top: -220px;
}
.restaurantBoxOuter2-image{
  width: 100%; 
  height: 400px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
.restaurantBoxOuter2-layer{
  width: 100%; 
  height: 400px; 
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); 
  display: none;
}
.restaurantBoxOuter2-link{
  text-align: center;
  display: block;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0px 0px 2px black;
  transition: ease-in-out 1s;
}
.search-card{
  border-radius: 9999px;
}
.slider-restaurant div{
  padding: 5px 0px 0px 0px;
  margin: 0px;
}
.bg-green{
  background-color: #38A352;
}
.terms-list-div{}
.terms-list-div ol{}
.terms-list-div ol li{
  padding: 10px 0px;
  font-size: 20px;
}
.nearby-card img{
  height: 200px;
}
.time-zone-show{
  font-size: 12px; 
  position: fixed; 
  left: 10px; 
  bottom: 10px; 
  z-index: 999; 
  color: #fff; 
  text-align: center;
}

/* .text-focus{
  color: white;
  font-weight: 900;
  text-shadow: 1px 1px 2px black;
} */
.text-focus{
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: 900;
  text-shadow: 0px 0px 5px white;
}
.btn-success {

    --bs-btn-color: #fff;
    --bs-btn-bg: #38A352;
    --bs-btn-border-color: #38A352;

    --bs-btn-hover-color:  #38A352;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #38A352;

    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;

    --bs-btn-active-bg: #38A352;
    --bs-btn-active-border-color: #38A352;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #38A352;
    --bs-btn-disabled-border-color: #38A352;

    font-weight: 600;
}
.btn-outline-success {
    --bs-btn-color: #38A352;
    --bs-btn-border-color: #38A352;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #38A352;
    --bs-btn-hover-border-color: #38A352;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #38A352;
    --bs-btn-active-border-color: #38A352;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #38A352;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #38A352;
    --bs-gradient: none;
    font-weight: 600;
}

.tourism-title{
  color: #38A352;
}
.main-amenities-icon{
  height: 50px; 
  width: auto;
}
.form-control:focus {
    color: none;
    background-color: var(--bs-body-bg);
    border-color: #00000020;
    outline: none;
    box-shadow: none;
}




  #child1age::-webkit-slider-thumb, #child2age::-webkit-slider-thumb {
    background-color: #38A352; /* Thumb color */
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px; /* Align with track */
  }

  #child1age::-webkit-slider-runnable-track, #child2age::-webkit-slider-runnable-track {
    background-color: #38A35240; /* Track color */
    height: 6px;
    border-radius: 5px;
  }

  #child1age::-moz-range-thumb, #child2age::-moz-range-thumb {
    background-color: #38A352;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  #child1age::-moz-range-track, #child2age::-moz-range-track {
    background-color: #38A35240;
    height: 6px;
    border-radius: 5px;
  }

  /* Optional: for IE */
  #child1age::-ms-thumb, #child2age::-ms-thumb {
    background-color: #38A352;
  }

  #child1age::-ms-track, #child2age::-ms-track {
    background-color: #38A35240;
  }
  .form-select:focus {
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    box-shadow: none;
}
.form-check-input:focus {
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    box-shadow: none;
}
.form-control, .form-select{
  border: 1px solid black;
}
.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: #38A352;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    box-shadow: none;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    border-color: #38A352;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    box-shadow: none;
}
.select2-hidden-accessible {
    position: relative !important;
    margin-top: -1px !important;
}
.form-check-input:checked {
    background-color: #38A352;
    border-color: #38A352;
}
.form-check-input {
    border: 1.5px solid black;
}
.event-list-ul li{
  padding: 2px 0px;
}